.footer{
    margin-top: 8vh;
    background-color: #40513B;
}
#footer-text1{
    padding-top: 0.2em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #EDF1D6;
}
#footer-text2{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #EDF1D6;
}