.clothes{
    padding-bottom: 3.7em;
}
.listing{
    height: 175px;
    background-color: #EDF1D6;
    border-radius: 15px;
    border: solid #c3dbbb 7px;
    margin-left: 2vw;
}
.header_listing{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
}
.furniture1{
    background-image: url('img_furniture/furniture1.png');
    background-size: cover;
}
.furniture2{
    background-image: url('img_furniture/furniture2.png');
    background-size: 100% 100%;
}
.furniture3{
    background-image: url('img_furniture/furniture3.png');
    background-size: cover;
}
.footer{
    margin-top: 24vh;
    background-color: #40513B;
}