<!DOCTYPE html>
<html>
    <head>
        <title>FILE UPLOAD DEMO</title>
    </head>

    <body>
        <h1>x</h1>

        <form
            action="/uploadProfilePicture"
            enctype="multipart/form-data"
            method="POST"
        >
            <span
                style="
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                "
            >
                Item Name:</span
            >
            <input
                type="text"
                name="title"
                placeholder="Title"
                id="title"
                style="
                    align-items: center;
                    margin: 0 auto;
                    display: block;
                    border-color: #586d51;
                    width: 150px;
                "
                required
            />
            <br />
            <br />
            <span
                style="
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                "
                >Upload Profile Picture:</span
            >
            <input
                type="file"
                name="mypic"
                style="margin: 0 auto; display: block; text-align: center"
                required
            />
            <br />
            <input
                type="submit"
                style="
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    background-color: #586d51;
                "
                value="Donate Now"
            />
        </form>
    </body>
</html>
